<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adobe.phonegap.app" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<preference name="phonegap-version" value="3.5.0" />
    <name>Pharmacia</name>
    <description>
        My test app
    </description>
    <<author href="http://yoursite.com" email="aliktush@gmail.com">
        Your Name
        </author>
    <icon src="icon.png" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>
    <access origin="*" />
    <content src="index.html" />
    <!-- We'll include the Barcode plugin as an example -->
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.2" />
    <gap:plugin name="com.simonmacdonald.telephonenumber" version="1.0.0" />
</widget>
